spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/zizo
    username: postgres
    password: oussama
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
